.buttons {
  display: flex;
  justify-content: space-between;
}

button {
  margin-right: 15px;
  padding: 20px;
  font-size: 24px;
  background-color: #a67c00;
  color: #ffffff;
  border: none;
  cursor: pointer;
  border-radius: 8px;
  transition: background-color 0.3s ease-in-out;
}

button:hover {
  background-color: #865b00;
}
